/publish/web
/src/doc-store/bin/Debug/netcoreapp1.0
/src/doc-store/bin/release/netcoreapp1.0
/src/doc-store/obj/Debug/netcoreapp1.0
/src/doc-store/obj/release/netcoreapp1.0
/.vs/doc-store/v14
/.vs/config
/.vs/restore.dg
/src/doc-store/bin/Debug/netcoreapp1.1
/src/doc-store/obj/Debug/netcoreapp1.1
/test/doc-store.test/bin/Debug/netcoreapp1.1
/test/doc-store.test/obj/Debug/netcoreapp1.1
/src/doc-store/bin/release/netcoreapp1.1
/src/doc-store/obj/release/netcoreapp1.1
/testresults
